<h2>Generate QR-Code</h2>
<div class="flexContainer">
  <div>
    <div>
    <div>
      <qr-code style="display: block; margin-left: auto; margin-right: auto; width: 40%;" [value]="qrdata" [size]="width" [level]="level" foreground="black"></qr-code>
    </div>
  </div>

  <div>
    <h3>QR Code Values</h3>

    <label>
      Type Of QR Code: <select [(ngModel)]="qrSelector">
        <option value="qrProject">Project</option>
        <option value="qrItem">Inventory Item</option>
        <option value="qrPersonnel">Personnel</option>
      </select>
    </label> <br><br>


    <ng-container *ngIf="qrSelector == 'qrItem'">
      <label>
        Part Number: <br><input [(ngModel)]="qrPartNumber" text="enter Part Number" />
      </label><br>
      <button (click)='GeneratePartQR(qrPartNumber)'>GenerateQR</button>
    </ng-container>

    <ng-container *ngIf="qrSelector == 'qrPersonnel'">
      <label>
        First Name: <br><input [(ngModel)]="qrPersonName" text="enter Part Number" />
      </label><br>
      <button (click)='GeneratePersonnelQR(qrPersonName)'>GenerateQR</button>
    </ng-container>

    <ng-container *ngIf="qrSelector == 'qrProject'">
      <label>
        Project Number: <br><input [(ngModel)]="qrProjectNumber" text="enter Part Number" />
      </label><br>
      <button (click)='GenerateProjectQR(qrProjectNumber)'>GenerateQR</button>
    </ng-container>
  </div>
</div>