<mat-tab-group>
  <mat-tab label="Automation">

    <mat-form-field *ngIf="automationList && automationList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyAutomationFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="automationList && automationList.data" mat-table [dataSource]="automationList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedAutomationColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedAutomationColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Cables and trays">

    <mat-form-field *ngIf="cabletraysList && cabletraysList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyCabletraysFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="cabletraysList && cabletraysList.data" mat-table [dataSource]="cabletraysList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedCabletraysColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCabletraysColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Extras">

    <mat-form-field *ngIf="extrasList && extrasList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyExtrasFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="extrasList && extrasList.data" mat-table [dataSource]="extrasList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedExtrasColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedExtrasColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Instrumentation">

    <mat-form-field *ngIf="instrumentationList && instrumentationList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyInstrumentationFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="instrumentationList && instrumentationList.data" mat-table [dataSource]="instrumentationList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedInstrumentationColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedInstrumentationColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Labour">

    <mat-form-field *ngIf="labourList && labourList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyLabourFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="labourList && labourList.data" mat-table [dataSource]="labourList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedLabourColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedLabourColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Other">

    <mat-form-field *ngIf="otherList && otherList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyOtherFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="otherList && otherList.data" mat-table [dataSource]="otherList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedOtherColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedOtherColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Monitoring">

    <mat-form-field *ngIf="monitoringList && monitoringList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyMonitoringFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="monitoringList && monitoringList.data" mat-table [dataSource]="monitoringList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedMonitoringColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedMonitoringColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


  <mat-tab label="Switchgear">

    <mat-form-field *ngIf="switchgearList && switchgearList.data">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applySwitchgearFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <table *ngIf="switchgearList && switchgearList.data" mat-table [dataSource]="switchgearList" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
      </ng-container>

      <ng-container matColumnDef="partnumber">
        <th mat-header-cell *matHeaderCellDef> Partnumber </th>
        <td mat-cell *matCellDef="let element"> {{element.PartNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="instock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.Instock}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.Cost|currency:'R'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedSwitchgearColumnsList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedSwitchgearColumnsList;"></tr>
    </table>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-tab>


</mat-tab-group>