
<button type="button" id="addButton"
class="btn btn-primary"
(click)="addRow();">
Add
</button>


<div style="border: 1px solid black;" id="container">
<header>
    <img style="height: 100px; width: 250px; margin-left: 300px;" alt="" src="../../../assets/img/Alveo Energy Logo Colour.jpg"><h1 style=" float: right; margin-top: 30px; margin-right: 300px;">QUOTE</h1>
</header>
<textarea readonly style="margin-top: 20px; border: hidden; resize: none; overflow: hidden; margin-left: 300px; line-height: 10px; height: 100px; padding-top: 4px;">
    Address:&#13;&#10;
    &#13;&#10;
    Phone:&#13;&#10;
    Prepared by:&#13;&#10;
    Email:
</textarea>
<textarea readonly style="margin-top: 20px; border: hidden; resize: none; overflow: hidden; line-height: 10px; height: 100px; padding-top: 4px;">
    30 Mynhardt Str&#13;&#10;
    Gantzz Plaza, Strand 7140&#13;&#10;
    021 851 2576 &#13;&#10;
    Tinus&#13;&#10;
    Tinus.Spangenberg@AlveoEnergy.co.za
</textarea>
<table style="float: right; margin-right: 250px;">
    <tr>
        <td style="text-align: right;">DATE:</td>
        <td style="padding-left: 80px;">17/09/2020</td>
    </tr>
    <tr>
        <td style="text-align: right;">QUOTE#</td>
        <td style="padding-left: 80px;">Q20-024</td>
    </tr>
    <tr>
        <td style="text-align: right;">Customer ID</td>
        <td style="padding-left: 80px;">Test Customer</td>
    </tr>
    <tr>
        <td style="text-align: right;">Valid Until</td>
        <td style="padding-left: 80px;">17/10/2020</td>
    </tr>
</table>
<table style="margin-left: 315px; width: 320px;">
    <tr>
        <td style="background-color: rgb(120, 180, 0); color: white;">Customer</td>
        <td style="background-color: rgb(120, 180, 0);"></td>
    </tr>
    <tr>
        <td>ORDER NO:</td>
        <td style="padding-left: 38px;">AE025</td>
    </tr>
    <tr>
        <td>PROJECT:</td>
        <td style="padding-left: 38px;">Test Project</td>
    </tr>
    <tr>
        <td>ATTENTION:</td>
        <td style="padding-left: 38px;">Customer Contact</td>
    </tr>
    <tr>
        <td>PREPARED FOR:</td>
        <td style="padding-left: 38px;">Customer Name</td>
    </tr>
    <tr>
        <td>ADDRESS:</td>
        <td style="padding-left: 38px;">Customer Address</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding-left: 38px;">Customer Town</td>
    </tr>
    <tr>
        <td>PHONE:</td>
        <td style="padding-left: 38px;">Customer Number</td>
    </tr>
    <tr>
        <td>EMAIL:</td>
        <td style="padding-left: 38px;">Customer@email.com</td>
    </tr>
</table>
<table style="margin-left: 315px;" id="quoteTable">
    <th style=" text-align: center; width: 350px; background-color: rgb(120, 180, 0); color: white;">DESCRIPTION</th>
    <th style=" text-align: center; width: 70px; background-color: rgb(120, 180, 0); color: white;">REQ</th>
    <th style=" text-align: center; width: 70px; background-color: rgb(120, 180, 0); color: white;">UNIT</th>
    <th style=" text-align: center; width: 150px; background-color: rgb(120, 180, 0); color: white;">RATE</th>
    <th style=" text-align: center; width: 150px; background-color: rgb(120, 180, 0); color: white;">AMOUNT</th>
    <tr>
        <td style=" text-align: center;">item description</td>
        <td style=" text-align: center;">item req</td>
        <td style=" text-align: center;">item unit</td>
        <td style=" text-align: center;">item rate</td>
        <td style=" text-align: center;">item amount</td>
    </tr>

</table>

<table style="float: left; margin-left: 315px; margin-top: 40px;">
    <th style=" width: 320px; background-color: rgb(120, 180, 0); color: white;">
        NOTES
    </th>
    <tr>
        <td style="width: 315px;"><textarea style=" border: hidden; resize: none; width: 325px; height: 150px;"></textarea></td>
    </tr>
</table>

<table style=" float: right; margin-right: 210px; margin-top: 15px;">
    <tr>
        <td style="width: 130px; text-align: left;">Subtotal:</td>
        <td style="text-align: right;">R150 000.00</td>
    </tr>
    <tr>
        <td style="width: 130px;text-align: left;">Tax Rate:</td>
        <td style="text-align: right;">15%</td>
    </tr>
    <tr>
        <td style="width: 130px;text-align: left;">Tax Due:</td>
        <td style="text-align: right;">R10 000.00</td>
    </tr>
    <tr>
        <td style="width: 130px;text-align: left;">Other</td>
        <td style="text-align: right;">R0.00</td>
    </tr>
    <tr>
        <td style="width: 130px;text-align: left;">TOTAL DUE</td>
        <td style="text-align: right;">R160 000.00</td>
    </tr>
</table>
<p style=" text-align:center; clear:both">Please see terms and conditions on page 2</p>
<table style=" width: 800px; border: 1px solid black; margin-left: 315px;">
    <tr>
        <td style=" border: 1px solid black; width: 450px; height: 80px;">
            Customer Acceptance:
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Print Name:</td>
        <td style=" border: 1px solid black; text-align: left;">Signature:</td>
    </tr>
</table>
</div>
<div id="termsAndConditions" style=" margin-top: 20px">
<h2 style=" text-align: center; width: 100%; background-color: rgb(120, 180, 0); color: white;">Terms and Conditions</h2>

<h4>1.ASSUMPTIONS</h4>
<h5>1.1 QUOTE SPECIFIC</h5>
<p>* Alveo Energy's quote assumptions, terms and conditions will take preference over any other contract signed.</p>
<br>
<h5>1.2 CLIENT RESPONSIBILITIES</h5>
<p>* Electricity will be available during installation for power tools and for commissioning.</p>
<p>* Access will be provided for the delivery and assembly of the equipment.</p>
<p>* The purchase and installation of any lighting which may be required for successful operation is the responsibility of the client</p>
<br>
<h4>2. GENERAL TERMS AND CONDITIONS</h4>
<h5>2.1 RISK AND OWNERSHIP</h5>
<p>Notwithstanding delivery of any goods to the client, ownership of equipment shall not pass to the client until </p>
<p>Alveo Energy has received payment in full for all goods and services associated with the manufacture, installation </p>
<p>and commissioning of the equipment. If final settlement has not been received within six months after practical </p>
<p>completion of the plant, Alveo Energy reserves the right to recover and sell the plant or any part thereof to recover </p>
<p>costs. The client will forfeit their deposit and/or any amounts paid to date.</p>
<br>
<h5>2.2 COMPLETION</h5>
<p>Alveo Energy adheres to the General Conditions of Contract (GCC) for Construction Work (2015) requirements for </p>
<p>project completion as outlined in section 5.14 of the said contract. The GCC defines three completion milestones </p>
<p>with associated completion certificates in order to formalize the completions procedures on a project, namely </p>
<p>Practical Completion, Completion and Final Approval. Alveo Energy prescribe to these projects milestone and the </p>
<p>employer/employer’s agent is advised to familiarize themselves with the contractual terms associated with these </p>
<p>milestones highlighted in section 5.14 of the GCC.</p>
<br>
<p>In addition to the three milestones described in the preceding paragraph, Alveo Energy further defines an </p>
<p>additional milestone relevant to the packaged Mechanical and Electrical works generally provided by Alveo Energy. </p>
<p>This additional milestone is named Factory Acceptance Testing (FAT) and is defined as follows:</p>
<br>
<p>Simulated testing performed on the designed equipment following assembly of the equipment, where the </p>
<p>simulated testing is required to verify that the assembled equipment can operate at its design capacity and </p>
<p>produce the required design products. Factory Acceptance Testing can be performed in the production factory or </p>
<p>on a site as deemed suitable by the design engineer. The FAT must be performed according to the FAT checklists </p>
<p>and documentation and signed off by Alveo Energy’s responsible engineer. The Employer/Employers Agent is also </p>
<p>required to witness and sign-off the FAT certificate in order to confirm acceptance of the FAT.</p>
<br>
<p>In such cases where Alveo Energy cannot reach completion as a results of circumstances and delays outside of </p>
<p>Alveo Energy’s control and during which a FAT has been completed, Alveo Energy will allow for a 6 month period </p>
<p>from the completion of the FAT after which the warranty and defects liability period will be deemed to have taken </p>
<p>effect from the date of the factory acceptance test as recorded on the factory acceptance test certificate.</p>
<br>
<h5>2.3 WARRANTY, LIABILITY AND INDEMNITY</h5>
<p>Alveo Energy warrants the equipment against defective materials and workmanship for a period of one year from </p>
<p>the date of completion, fair wear and tear excluded. The Warranty is subject to the following conditions:</p>
<p>a) The purchase price and all other due fees associated with the treatment plant have been fully paid.</p>
<p>b) The equipment has been correctly operated in accordance with the Operation and Maintenance manual.</p>
<p>c) The equipment has not been subjected to undue climatic conditions beyond its design capacity. This includes </p>
<p> rain, spray, wind, heat and dust.</p>
<p>d) The warranty specifically excludes any damage caused by the client or client’s representative or that beyond </p>
<p>the control of Alveo Energy.</p>
<p>e) The warranty does not apply to our electrical panels and equipment connected to poor quality temporary </p>
<p>electricity generators. These generators provide unbalanced phases with varying voltages. If electrical instruments </p>
<p>and motors are damaged while connected to temporary power generators, we will not be able to honour our gaurantees</p>
<p>f) If the electrical panel is opened or tampered with, the warranty is null and void.</p>
<p>g) It is the client’s responsibility to protect the equipment against power surges, which could damage equipment.</p>
<p>h) Programming software is the Intellectual Property of Alveo Energy and shall not be distributed or communicated </p>
<p>to third parties in any way.</p>
<p>i) The starting date of the warranty is when completion is reached.</p>
<p>Alveo Energy’s liability to the client shall in any event and under all circumstances be limited to the costs of </p>
<p>remedying any defective workmanship, repairing any defective goods, or replacing any defective goods not capable of repair.</p>
<p>Alveo Energy shall under no circumstance whatsoever be liable for any loss of profit or any damages of whatsoever </p>
<p>nature, direct or indirect, consequential or otherwise, suffered by the client or any other person or entity, </p>
<p>whether or not caused by the negligence of Alveo Energy, its agents or employees. Alveo Energy’s professional </p>
<p>liability shall be limited to twice (2) the amount of the Design and Overheads fee.</p>
<br>
<h5>2.4 VARIATIONS</h5>
<p>Additional work, equipment or features requested by the client or consultant will be treated as Variation Orders </p>
<p>(VO). Alveo Energy will price the VO for approval and will only proceed once the financial and time implications of </p>
<p>the VO have been approved.</p>
<br>
<h5>2.5 PAYMENT TERMS</h5>
<p>Our payment terms are as follows:</p>
<p>• 50% on acceptance of this proposal</p>
<p>• 40% after manufacturing completion and FAT</p>
<p>• 10% after commissioning</p>
<p>• Variation Orders will be invoiced on their signed acceptance</p>
<p>Alveo Energy will provide an Advance Payment Guarantee for the full sum of the works tendered on and awarder to Alveo Energy.</p>
<p>Alveo Energy will only commence with the project once the client signs the proposal where required and the </p>
<p>deposit is reflected on the bank statement. Note that no allowance for an Advanced Payment Guarantee (APG) </p>
<p>has been made. All costs involved in obtaining an APG will be treated as a VO. Payment is required into a </p>
<p>South African bank account belonging to Alveo Energy. Interest at SA prime plus 2% per annum will be charged on</p>
<p>late payments (calculated pro rata per day).</p>
<br>
<h5>2.6 DELIVERY</h5>
<p>Equipment are quoted ex works Cape Town unless stated otherwise. Transport cost of MCC's are dependent on the </p>
<p>type and size of the MCC as well as the delivery destination. Refer to the proposal document for the offer on delivery</p>
<br>
<h5>2.7 DELAYS</h5>
<p>If long lead times are experienced on certain mechanical and electrical equipment, the client will be informed of </p>
<p>expected delays or given an option to change the equipment to a similar approved product. Export or import, </p>
<p>shipping and transport delays are not under the control of Alveo Energy and thus Alveo Energy will not be held </p>
<p>responsible for such delays. Severe weather, strikes, coups, terrorism, war, epidemics, etc. </p>
<p>(considered Force Majeure) or any such events that result in delays are out of the control of Alveo Energy and thus </p>
<p>Alveo Energy will not be held responsible for such delays.</p>
<p>If work on site is held up due to the client having to complete work required for environmental compliance, </p>
<p>such as obtain a WULA or an EIA, Alveo Energy will be allowed to continue with commissioning work as to invoice </p>
<p>the client in full.</p>
</div>

<script>

function addRow (argument) {
        var myTable = document.getElementById("quoteTable");
        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(-1);

        var linksBox = document.createElement("input");
        linksBox.setAttribute("name", "links" + currentIndex);

        var keywordsBox = document.createElement("input");
        keywordsBox.setAttribute("name", "keywords" + currentIndex);

        var violationsBox = document.createElement("input");
        violationsBox.setAttribute("name", "violationtype" + currentIndex);

        var addRowBox = document.createElement("input");
        addRowBox.setAttribute("type", "button");
        addRowBox.setAttribute("value", "Add another line");
        addRowBox.setAttribute("onclick", "addField();");
        addRowBox.setAttribute("class", "button");

        var currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(linksBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(keywordsBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(violationsBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(addRowBox);
    }
</script>
