<mat-tab-group>
  <mat-tab label="Projects">

<mat-form-field *ngIf="projectsList && projectsList.data">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyProjectFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table *ngIf="projectsList && projectsList.data" mat-table [dataSource]="projectsList" class="mat-elevation-z8">

  <ng-container matColumnDef="projectNumber">
    <th mat-header-cell *matHeaderCellDef> Project Number </th>
    <td mat-cell *matCellDef="let element"> {{element.Number}} </td>
  </ng-container>

  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef> Project Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="projectStartDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
  </ng-container>

  <ng-container matColumnDef="projectEndDate">
    <th mat-header-cell *matHeaderCellDef> Deadline </th>
    <td mat-cell *matCellDef="let element"> {{element.EndDate}} </td>
  </ng-container>

  <ng-container matColumnDef="projectLeader">
    <th mat-header-cell *matHeaderCellDef> Leader </th>
    <td mat-cell *matCellDef="let element"> {{element.Leader}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedProjectsColumnsList"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedProjectsColumnsList;" (click)="getProjectRecord(row)"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>

</mat-tab>

<mat-tab label="Add New Project">

  <div class="testbox">
    <form action="/">
      <div class="banner">
        <h1>Add New Project</h1>
      </div>
      <div class="colums">
        <div class="item">
          <label for="nProjectNumber"> Project Number<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nProjectNumber" type="text" name="projectNumberInput" required/>
        </div>
        <div class="item">
          <label for="nProjectName"> Project Name<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nProjectName" type="text" name="projectNameInput" required/>
        </div>
        <div class="item">
          <label for="nprojectStart">Start Date<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nprojectStart" type="date" name="projectStartInput" required/>
        </div>
        <div class="item">
          <label for="nProjectend">End Date<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nProjectend" type="date" name="projectEndInput" required/>
        </div>
        <div class="item">
          <label for="nProjectLeader">Project Leader<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nProjectLeader" type="text" name="projectLeaderInput" required/>
        </div>
        <div class="item">
          <label for="nProjectLeader">Gantt Color<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nGanttColor" type="color" name="projecColorInput" required/>
        </div>
      </div>
      <div style="text-align: center; color: green; font-size: large;" id="alertProject"></div>
      <div class="btn-block">
        <button type="submit" (click)="CreateProject(nProjectNumber, nProjectName, nprojectStart, nProjectend, nProjectLeader, nGanttColor )" >Submit</button>
      </div>
    </form>
  </div>

</mat-tab>

<mat-tab label="Add New Task">

  <div class="testbox">
    <form action="/">
      <div class="banner">
        <h1>Add New Task</h1>
      </div>
      <div class="colums">
        <div class="item">
          <label for="nTaskName"> Task Name<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nTaskName" type="text" name="taskNameInput" required/>
        </div>
        <div class="item">
          <label for="nTaskStart">Start Date<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nTaskStart" type="date" name="taskStartInput" required/>
        </div>
        <div class="item">
          <label for="nTaskend">End Date<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nTaskend" type="date" name="taskEndInput" required/>
        </div>
        <div class="item">
          <label for="nResponsiblePerson">Responsible Person<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nResponsiblePerson" type="text" name="responsiblePersonInput" required/>
        </div>
        <div class="item">
          <label for="nLinkedProject">Project<span>*</span></label>
          <input style="text-align: right;" [(ngModel)]="nLinkedProject" type="text" name="linkedProjectInput" required/>
        </div>
      </div>
      <div style="text-align: center; color: green; font-size: large;" id="alertTask"></div>
      <div class="btn-block">
        <button type="submit" (click)="CreateTask(nTaskName, nTaskStart, nTaskend, nResponsiblePerson, nLinkedProject)" >Submit</button>
      </div>
    </form>
  </div>

</mat-tab>


</mat-tab-group> 