<div class="sidenav">
	<a routerLink="/gantt-component" routerLinkActive="active">Home</a>
	<a routerLink="/projects-component" routerLinkActive="active">Projects</a>
	<a routerLink="/inventory-component" routerLinkActive="active">Inventory</a>
	<a routerLink="/personnel-component" routerLinkActive="active">Personnel</a>
	<a routerLink="/orders-component" routerLinkActive="active">Orders</a>
	<!--<a routerLink="/quote-component" routerLinkActive="active">Quotes</a>-->
	<a routerLink="/vpn-component" routerLinkActive="active">VPN and Passwords</a>
	<a (click)="logout()">Logout</a>
	<a routerLink="/personnel.gantt-component" routerLinkActive="active">Personnel Tasks</a>

  </div>
  
  <div class="content">
	<h2><img style="height: 150px; width: 300px;" src="../assets/img/Alveo Energy Logo Black - High Res.png" alt="logo"></h2>
	<router-outlet>
	</router-outlet>
  </div>
  













