<div class="sidenav">
	<a routerLink="/gantt-component" routerLinkActive="active">Home</a>
	<a routerLink="/projects-component" routerLinkActive="active">Projects</a>
	<a routerLink="/inventory-component" routerLinkActive="active">Inventory</a>
	<a routerLink="/personnel-component" routerLinkActive="active">Personnel</a>
	<a routerLink="/scanner-component" routerLinkActive="active">Scanner</a>
	<a routerLink="/orders-component" routerLinkActive="active">Orders</a>
	<a routerLink="/invoice-component" routerLinkActive="active">Invoicing</a>
	<a href="#">Logout</a>
  </div>
  
  <div class="content">
	<h2>Alveo Energy Management</h2>
	<router-outlet>
	</router-outlet>
  </div>
  













