<ul id="menu">
    <li><a>Home</a></li>
    <li>
        <a>Projects</a>
        <ul>
            <li><a>Add Project</a></li>
            <li><a>Add Task</a></li>
            <li><a>View Projects</a></li>
        </ul>
    </li>
    <li>
        <a>Orders</a>
        <ul>
            <li><a>New Order</a></li>
            <li><a>View Orders</a></li>
        </ul>
    </li>
    <li><a>Inventory</a></li>
    <li>
        <a>Personnel</a>
        <ul>
            <li><a>Add Personnel</a></li>
            <li><a>View Personnel</a></li>
        </ul>
</ul>