<div #gantt_here class='gantt-chart'></div>
<div (click)="Save()">
    Save
</div>
<div>
    <p>
        Task Properties
    </p>
    <div style="border: 1px solid grey; height: 200px;">
        <p style="color: grey;" id="taskNameDisplay">Task Name : {{TaskName}}</p>
        <p style="color: grey;" id="taskStartDateDisplay">Task Start Date : {{TaskStartDate}}</p>
        <p style="color: grey;" id="taskEndDisplay">Task End Date : {{TaskEndDate}}</p>
        <p style="color: grey;" id="taskDurationDisplay">Task Duration : {{TaskDuration}}</p>
        <p style="color: grey;" id="taskLeaderDisplay">Task Leader : {{TaskLeader}}</p>
    </div>
</div>