@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";

.gantt-chart{
	position: relative;
	width: 100%;
	height: calc(100vh - 400px);
	
}

.Oflow{
	display: block;
    height: 600px;
    position: relative;
    width: 100%;
}
