<div #gantt_here class='gantt-chart'></div>
Color
<input id="taskColor" [(ngModel)]="taskColor">
<div>
    <p>
        Task Properties
    </p>
    <div style="border: 1px solid grey; height: 200px;">
        <p style="color: grey;" id="taskNameDisplay">Task Name : </p>
        <p style="color: grey;" id="taskStartDateDisplay">Task Start Date : </p>
        <p style="color: grey;" id="taskEndDisplay">Task End Date : </p>
        <p style="color: grey;" id="taskDurationDisplay">Task Duration : </p>
    </div>
</div>